{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

	<title>
		My App
	</title>
</head>
<body>
<main role="main" class="container" style="padding-top: 10px;">
	<div class="row">
		<div class="col-md-6" style="height: 50%; margin: auto;">
			<form method="POST" enctype="multipart/form-data" id="post-form" style="margin-bottom: 20px; border: 2px solid grey; padding: 30px 20px;">
			  {% csrf_token %}
			  <fieldset class="form-group">
				<legend class="border-bottom mb-4">Post</legend>
				{{ form|crispy }}
			  </fieldset>

                <div class="form-group">
                    <div id="image-box" class="image-container"></div>
                    <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                    <button class="btn btn-outline-info" id="confirm-btn" style="width: 100%; margin-top: 10px;" type="submit">Post</button>
                  </div>
		        </form>

			{% for post in posts %}
				<div class="card" style="margin-bottom: 20px;">
					<img class="card-image-top mx-auto" style="height: 200px; width: 200px;" src="{{ post.image.url }}" alt="image">
					<div class="card-footer">
					  <font size="3">{{ post.name }}</font><br>
					  <font size="2">{{ post.email }} </font>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</main>
<script>

	const imagebox = document.getElementById('image-box')

	const crop_btn = document.getElementById('crop-btn')

	const input = document.getElementById('id_image')


	input.addEventListener('change', ()=>{

	  const img_data = input.files[0]

	  const url = URL.createObjectURL(img_data)


	  imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`


	  const image = document.getElementById('image')


	  document.getElementById('image-box').style.display = 'block'

	  document.getElementById('crop-btn').style.display = 'block'

	  document.getElementById('confirm-btn').style.display = 'none'


	  const cropper = new Cropper(image, {
	  autoCropArea: 1,
	  viewMode: 1,
	  scalable: false,
	  zoomable: false,
	  movable: false,
	  minCropBoxWidth: 200,
	  minCropBoxHeight: 200,
	  })


	  crop_btn.addEventListener('click', ()=>{

	    cropper.getCroppedCanvas().toBlob((blob)=>{


	      let fileInputElement = document.getElementById('id_image');

	      let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});

	      let container = new DataTransfer();

	      container.items.add(file);

	      fileInputElement.files = container.files;


	      document.getElementById('image-box').style.display = 'none'

	      document.getElementById('crop-btn').style.display = 'none'

	      document.getElementById('confirm-btn').style.display = 'block'

	      });
	    });
	});
</script>
</body>
</html>